* {
  font-family: "Oswald", sans-serif;
}

.title {
  background-image: url("title.png");
  background-position: center;
  background-size: cover;

  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 5px 0px black;

  margin-bottom: 50px;
}

.title > button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;

  border: 2px solid white;
  margin-top: 20px;
}

input[type="radio" i] {
  margin-left: 10px;
}

#search_input {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo img {
  width: 100px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.content_group {
  width: 1200px;
  margin: 0 auto 50px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid0 {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 50px;

  grid-template-areas:
    "d0   d1   d2   d3"
    "d4   d5   d6   d7"
    "d8   d9   d10  d11"
    "d12  d13  d14  d15"
    "d16  d17  d18  d19";
}

.movie_title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 30px;

  margin-bottom: 10px;
}

.movie_overview {
  text-align: justify;
  height: 200px;
}

.modal {
  display: grid !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  width: 120% !important;
  height: 70% !important;
  padding: 20px;
  background-color: white;
  border: 3px solid black !important;
  border-radius: 8px !important;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content div {
  background-size: cover;
  background-position: center;
  border-radius: 12px;

  width: 100% !important;
  height: 100% !important;
}

.modal-content p {
  width: 300px;
  color: black;
  margin-top: 20px;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  word-break: keep-all;
}

@keyframes zoomAndRotate {
  from {transform: scale(0) rotateY(0deg);}
  to {transform: scale(1) rotateY(360deg);}
}

.zoomIn {animation: zoomAndRotate 0.5s ease forwards;}
.hidden {visibility: hidden;}
